{% extends "base.html" %}

{% block titulo %} Edm {% endblock %}

{% block contenido %} 
<body style="background-color:#EAC0E5;">
<div html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EVALUACIÓN DE SU MEMORIA</title>
</head>
<body>
  <font color="B63608" face="Comic Sans MS,arial">
  <h1 align="center"><i>EVALUACIÓN DE SU MEMORIA</i></h1>
 
  <font face="Comic Sans MS,arial">
 <br>La evaluación de la memoria se constituye en un procedimiento neuropsicológico protocolar en las diversas áreas de la Neuropsicología debido a la relevancia de la conservación o déficit de la memoria en todas y cada una de las acciones humanas.<br>
  <br>Anteriormente, la evaluación de la memoria se restringía al plano de la patología y se sobreentendía que su evaluación respondía a la necesidad de valorar el deterioro cognitivo de personas, muy mayores, o sobrevivientes a eventos que hubieren puesto en peligro su integridad física o hubiera agredido la región de la cabeza.
  <br>
  Hoy en día, la evaluación de la memoria debe realizarse a partir del estudio de la maduración cerebral y el neurodesarrollo hasta el envejecimiento patológico.<br>
  <br>Evaluar la memoria es evaluar la cognición humana porque es a ella a quien le debemos los procesos de codificación, decodificación y recodificación; es evaluar los procesos cognitivos tanto básicos como superiores.
  <br>En el cuadro siguiente se muestra de manera clara como los procesos cognitivos centrales para la interacción humana recurren y requieren de nuestra capacidad mnémica para tener lugar<br>
   <div style="text-align: center;">
    <img src="https://grt.com.bo/upsa/usuario/help/imagenes/upsa1.png" class="img-fluid" alt="Bootstrap Themes" width="408" height="408" loading="lazy">
  </div>
  </body>
</div>{% endblock %}
