{% extends "base.html" %}

{% block titulo %} Isa {% endblock %}

{% block contenido %}   
  <div clase div  =" col-lg-6 " >
        <h1  class =" display-5 fw-bold lh-1 mb-3 " > <font color="purple">
INFORMACIÓN SOBRE ALTERACIONES DE LA MEMORIA</h1 ></font>
        <div class =" contenedor col-xxl-14 px-4 py-1 " >
    <div  class =" fila flex-lg-row-reverse align-items-center g-5 py-5 " >
      <div  class =" col-10 col-sm-8 col-lg-6 " >
        <img  src ="http://psicoterapeutas.eu/imagenes-psicoterapeutas-eu/alteraciones-de-la-memoria.jpg" class =" d-block mx-lg-auto img-fluid " alt =" Bootstrap Temas " ancho =" 500 " alto =" 300 " cargando =" perezoso " >
      </div >
        <p  class =" lead " > Para todos los aprendizajes el ser humano necesita de la utilización de la memoria; cuando las funciones de la memoria no se ejecutan en forma satisfactoria, se producen los trastornos de la memoria.

Los trastornos de la memoria varían en intensidad y duración, con mucha frecuencia todos sufrimos algunos olvidos o algunas dificultades en la recuperación de la información que ya tenemos almacenada, “cuando el material tiene sentido y se aprende de manera significativa, se retiene mayor cantidad y se olvida más lentamente” (Barlett, 1932).

Desde el punto de vista de la psicología, las alteraciones de la memoria obedecen a dos causas principales: el estado emocional y el estado del sistema nervioso, las más de las veces interdependientes o interrelacionados de manera contingente.

Barlett, 1932 y autores contemporáneos a nuestro siglo señalan los siguientes como los trastornos y alteraciones de la memoria más estudiados:

El olvido benigno.
Las amnesias: anterógrada, retrógrada, lacunar, global.
Otras anomalías: en identificación (no poder recordar si conocemos el rostro de una persona o con quien tiene parecido), anomias (olvidos de nombres propios de personas como también de nombres comunes de objetos).
Falsos recuerdos.</p >
      </div >
    </div >
  </div >


        <h1  class =" display-5 fw-bold lh-1 mb-3 " > a. Olvido Benigno.- </h1 >
        <p  class =" lead " > En 1962 Kral fue el primero en diferenciar un grupo de ancianos con rendimientos en los test de memoria próximos a los normales, pero con fallos de memoria “benignos”, que son ligeros y estables, que no se acompañan de otros trastornos cognitivos y que mostraron una mortalidad y una evolución a demencia similar a los sujetos normales. Estos olvidos benignos los diferenció de otro grupo con defectos más acusados de memoria reciente y remota, con bajos rendimientos en las pruebas, que tenían una evolución “maligna” hacia la demencia y menor supervivencia.
           <h1  class =" display-5 fw-bold lh-1 mb-3 " > b. Amnesias.-</h1 >
        <p  class =" lead " > Dentro de la neuropsicología las alteraciones más comunes de la memoria son las amnesias y estas básicamente son:
              
        </p > 
  <estilo div  =" texto-alinear: centro; " >
    <img  src =" https://www.lifeder.com/wp-content/uploads/2016/12/amnesia-anterograda.jpg" class =" img-fluid " alt =" Temas Bootstrap " width =" 408 " height =" 408 " cargando = " perezoso " >
  </div >
 
      <br > <strong > Amnesia Anterógrada:</strong >
      <br > <br > - Entendida como la imposibilidad para asimilar nueva información.
      <br > <br> <strong >Amnesia Retrógrada.</strong >
      <br > -Entendida como la incapacidad para evocar hechos previamente almacenados.
      <br > - Es importante diferenciar el concepto de defecto de memoria en el que se evidencia la dificultad para recordar en forma parcial o total y el concepto de patología de la memoria donde se evidencia la imposibilidad de recordar. Las amnesias están asociadas a varias entidades neurológicas. Es común que las amnesias se acompañen de confabulaciones (recuerdos ficticios o inexactos). También se puede presentar intrusiones (recuerdos falsos dentro de recuerdos verdaderos).
      <br > - La amnesia en individuos jóvenes es usualmente causada por traumatismos craneanos, en personas de mayor edad pude acompañar al síndrome de demencia. La pérdida de memoria normalmente supone un desvanecimiento paulatino con el paso del tiempo, al igual que la disminución de velocidad, visión y audición. Sin embargo la capacidad de asociar unos hechos con otros no se pierde, y probablemente la mayor cantidad de información y experiencia permite tener más recursos a la hora de recordar. En un sentido patológico hay personas que al llegar a la senectud pierden memoria de forma más frecuente de lo normal. Ello no implica que tenga una demencia. Son capaces de razonar, juzgar y criticar normalmente. La memoria de procedimientos se mantiene normal. Se han buscado nombres y explicaciones para este grupo de la población. Probablemente el término mejor conocido es el de “Olvidos benignos de la senescencia”.
      <br > <br > <strong > c. Otras Anomalías.-</strong >
      <br > Anderson y Damasio (1994) indican que entre las anomalías más frecuentes se encuentran:
      <font color="purple">

      <br><br> <strong>Evocación de Identificación:</strong>
      <br>Consiste en no poder recordar si conocemos el rostro de una persona o con quien tiene parecido. Esta alteración es muy característica de las demencias.

      <br > <br > <strong > Olvidar nombre</strong >
      <br>Ocurre cuando identificamos la cara de alguien conocido, pero no podemos recordar el nombre. Con los años es posible que esto nos ocurra algunas veces de manera inesperada.

      <br > <br > <strong > Sensación de Conocer</strong >
     <br>Consiste en no poder utilizar un conocimiento que creemos dominar. Esto nos ocurre con más frecuencia en materia semántica.

     <br > <br > <strong > Fenómeno de Anomia</strong >
     <br>Es la incapacidad de encontrar la palabra correcta, encontrando muchas otras asociadas o relacionadas sin que se ajusten exactamente a lo buscado.

     <br > <br > <strong > laguna Temporal</strong >
     <br>Es cuando se olvidan algunos fragmentos de algo o lo ocurrido en un lapso específico. Las más de las veces esta anomalía de la memoria está relacionada a golpes fuertes en la cabeza o traumatismos craneoencefálicos.
      </font>

    <div  class =" fila flex-lg-row-reverse align-items-center g-5 py-5 " >
      <div  class =" col-10 col-sm-8 col-lg-6 " >
        <img  src ="https://stimuluspro.com/www/book/imagenes/826/Neuronal_activity_DARPA.jpg" class =" d-block mx-lg-auto img-fluid " alt =" Bootstrap Temas " ancho =" 500 " alto =" 300 " cargando =" perezoso " >
      
        </div >
      </div>
{% endblock %}
