{% extends "base.html" %}

{% block titulo %} ReporteClinico {% endblock %}

{% block contenido %}
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">REPORTE CLÍNICO</h1>
        <p class="lead">En este portal, usted encontrará un protocolo que mide el estado de los distintos tipos de memoria, por lo que recibe el nombre de “Evaluación Diferencial de la Memoria”. Este instrumento consta de 34 ítems seleccionados de 14 tests de memoria, estandarizados de habla hispana, que podrá consultar con mayor detalle en este link. Las dimensiones que se describen en el Reporte Clínico son:</p>
      </div>


        <h1 class="display-5 fw-bold lh-1 mb-3">Cálculo y seguimiento.-</h1>
        <p class="lead">Agrupa los ítems concernientes a operaciones matemáticas, progresiones y regresiones.</p>
           <h1 class="display-5 fw-bold lh-1 mb-3">Orientación.-</h1>
        <p class="lead">Agrupa los ítems concernientes al reconocimiento de aspectos, temporales y espaciales.</p>
        <h1 class="display-5 fw-bold lh-1 mb-3">Seguimiento de órdenes.-</h1>
        <p class="lead">Agrupa los ítems concernientes a la premisa de realización de acciones dirigidas y determinadas, tanto de tipo físico-motor como de carácter cognitivo.</p>
        <h1 class="display-5 fw-bold lh-1 mb-3">Evocación Verbal.-</h1>
        <p class="lead">Agrupa los ítems concernientes a la recuperación de contenidos verbales simples y compuestos.
        </p>
        <h1 class="display-5 fw-bold lh-1 mb-3">Codificación.-</h1>
        <p class="lead">Agrupa los ítems concernientes a los procesos de codificación, decodificación y recodificación.</p>
        <h1 class="display-5 fw-bold lh-1 mb-3">Reconocimiento.-</h1>
        <p class="lead">Agrupa los ítems concernientes a la capacidad de evocación o recuerdo con y sin pauteo.</p>
        <h1 class="display-5 fw-bold lh-1 mb-3">Identificación.-</h1>
        <p class="lead">Agrupa los ítems concernientes al reconocimiento de la persona en sí misma y de las de su medio ambiente circundante.</p>
        <h1 class="display-5 fw-bold lh-1 mb-3">Discriminación.-</h1>
        <p class="lead">Agrupa los ítems concernientes a la diferenciación, conceptualización y retención de rasgos principales de los estímulos propuestos.</p>
        <h1 class="display-5 fw-bold lh-1 mb-3">Comprensión.-</h1>
        <p class="lead">Agrupa los ítems concernientes a la capacidad de asimilación y coherencia.</p>
        <h1 class="display-5 fw-bold lh-1 mb-3">Representación.-</h1>
        <p class="lead">grupa los ítems concernientes a la evocación gráfica de estímulos visuales previamente presentados.</p>
              


               <p class="lead">grupa los ítems concernientes a la evocación gráfica de estímulos visuales previamente presentados.</p></p>
                </div>
                 <br><strong>-Rojo</strong>
                    <br>- cuando esta DEFICITARIO.

                     <br><strong>-Amarillo</strong>
                    <br>- cuando es AFECTADO.
                    

                     <br><strong>-Verde</strong>
                    <br>- cuando es CONSERVADO.


                    <p class="lead">Debido a la utilización de colores, la interpretación del reporte clínico es muy sencilla y de uso práctico por parte tanto de los familiares como de los profesionales a cargo del paciente.</p>
        </div>
      </div> {% endblock %}
