{% extends "base.html" %}

{% block titulo %} FamiliaCuidador {% endblock %}

{% block contenido %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <a href="https://getbootstrap.com/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Para Familiares y Cuidadores</span>
      </a>
    </header>
  
    <main>
      <h1>Ayuda a tu persona cercana mas querida.</h1><br><br>
      <p class="fs-5 col-md-8">Si usted es un familiar o cuidador de una Persona Adulta Mayor (PAM) el servicio que le brinda a usted primeramente es el de contactar a un profesional del area: neuropsicólogos, psicólogos clínicos, médicos generales, médicos familiares, gerontólogos, psiquiatras, neurólogos y otros profesionales vinculados a las neurociencias y el desarrollo humano. Al contactarse con ellos la PAM será evaluada con una serie de instrumentos que determinarán cuál es la situación de su memoria. Posterior a esta prueba puede llevar a la PAM a la Universidad Privada de Santa Cruz (UPSA) en el Centro de Investigaciones y Asesoramiento Psicológico (CIAP), donde contamos con un equipo especializado y listo para trabajar con la PAM en la estimulación cognitiva, además en él usted recibirá capacitaciones sobre el cuidado de esta persona.</p>
  
      <div class="mb-5">
        <a href="https://getbootstrap.com/docs/5.2/examples/" class="btn btn-primary btn-lg px-4">Contactanos</a>
      </div>
    </main>
  </div>
{% endblock %}