{% extends "base.html" %}

{% block titulo %} Pam {% endblock %}

{% block contenido %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <a href="https://getbootstrap.com/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Para la persona adulta mayor.</span>
      </a>
    </header>
  
    <main>
      <h1>Una persona adulta, mayor.</h1><br><br>
      <p class="fs-5 col-md-8">Si usted es una Persona Adulta Mayor (PAM) este portal le ayudará en la detección temprana de problemas de memoria. Usted puede dirigirse a nuestros profesionales acreditados de las siguientes ramas: neuropsicólogos, psicólogos clínicos, médicos generales, médicos familiares, gerontólogos, psiquiatras, neurólogos y otros profesionales vinculados a las neurociencias y el desarrollo humano; para que se le realice las evaluaciones respectivas.

        Al realizarle las pruebas usted podrá tener una descripción precisa de su estado actual de memoria y ser parte de un programa de estimulación cognitiva, servicio que se brinda en la Universidad Privada de Santa Cruz (UPSA) en el Centro de Investigaciones y Asesoramiento Psicológico (CIAP), donde contamos con un equipo especializado y listo para atenderlo en lo que necesite.</p>
  
      <div class="mb-5">
        <a href="https://getbootstrap.com/docs/5.2/examples/" class="btn btn-primary btn-lg px-4">Contactanos</a>
      </div>
    </main>
  </div>
{% endblock %}