{% extends "base.html" %}

{% block titulo %} PersonalAcreditado {% endblock %}

{% block contenido %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <a href="https://getbootstrap.com/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Para el personal acreditado.</span>
      </a>
    </header>
  
    <main>
      <h1>Ayuda a la gente que lo necesita.</h1><br><br>
      <p class="fs-5 col-md-8">Para el profesional este portal será una ayuda al momento de trabajar con Personas Adultas Mayores (PAM). Para ser parte de él usted debe ser acreditado previamente, este portal solo admite a usuarios de las siguientes ramas: neuropsicólogos, psicólogos clínicos, médicos generales, médicos familiares, gerontólogos, psiquiatras, neurólogos y otros profesionales vinculados a las neurociencias y el desarrollo humano.

        Al ser parte del portal usted puede acceder a las siguientes evaluaciones:
        
        Evaluación Diferencial de la Memoria (EDM): Donde usted podrá luego de realizar la prueba a la PAM obtener un reporte clínico el cuál se indicará el estado actual de la memoria de su paciente de forma clara y precisa.
        Escala de Reserva Cognitiva: Esta escala ayuda a ver las habilidades o hábitos que posee la PAM y que pueden ser utilizadas para palear el avance del deterioro cognitivo.
        Minimental: Es una prueba rápida la cual confirma el resultado obtenido en el EDM.
        Escala Global de Deterioro cognitivo (GDC): Esta escala le indicará a usted en qué fase se encuentra su paciente, dependiendo los síntomas que el presenta.
        Por estos beneficios de brindar un mejor servicio y trato a su paciente PAM le invitamos a ser parte de esta experiencia que contribuirá no solo a su desempeño como profesional sino que ayudará a investigaciones del área a nivel nacional e internacional.</p>
  
      <div class="mb-5">
        <a href="https://getbootstrap.com/docs/5.2/examples/" class="btn btn-primary btn-lg px-4">Contactanos</a>
      </div>
    </main>
  </div>
{% endblock %}