{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <a href="https://getbootstrap.com/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">¿Quienes somos?</span>
      </a>
    </header>
  
    <main>
      <h1>Historia</h1>
      <p class="fs-5 col-md-12">Historia
        Esbozar la historia de la neuropsicología en Bolivia, nos obliga a reconocer, en primer lugar, a René Calderón Soria como el pionero de esta disciplina.
        
        Bolivia es sin duda alguna un territorio de enormes riquezas naturales y grandes necesidades de atención a una población heterogénea que en este siglo veintiuno demanda oportunidades y ofrece un sin número de posibilidades de estudio, investigación, innovación e intervención Neuropsicológica.
        
        La Sociedad Boliviana de Neuropsicología se funda en la ciudad de La Paz, el 15 de octubre de 1995, como consecuencia de reuniones preliminares de organización desde 1993, a la cabeza del Dr. René Calderón Soria, un connotado hombre de ciencia, fundador del primer Instituto Nacional de Desarrollo Infantil en la década de los 60, de la primera carrera de Psicología, en la Universidad Católica Boliviana por la década de los 70 y finalmente fundador de la carrera de Psicología, de la Universidad Mayor de San Andrés en la década de los 80.
        
        Las primeras generaciones de psicólogos bolivianos formados en Bolivia recibieron de él las primeras clases de Neuropsicología, seguidas por la cátedra de la Dra. Margareth Hurtado y el Dr. Juan Carlos Durá n Desde su fundación en 1995 hasta la fecha las actividades académicas de la Sociedad Boliviana de Neuropsicología (SNpB) han permitido la visita de importantes neuropsicólogos extranjeros.
        
        Todas las actividades de la SNpB han tenido como escenario la ciudad de La Paz pero el reto es la cobertura nacional que nos permita organizar las filiales departamentales. La primera filial creada ha sido la de Santa Cruz de la Sierra en Julio de 2012.
        
        A la fecha la SNpB es la única institución de carácter científico para la agrupación de profesionales del área neuropsicológica.
        
        El NEUROLAB “Rene Calderon Soria” es el Primer Laboratorio de Neurocognición en Bolivia y debe su nombre al pionero de la Neuropsicología en nuestro país en reconocimiento a su trayectoria e impulso profesional.
        
        El NEUROLAB se funda en la Universidad Privada de Santa Cruz (UPSA) con el patrocinio de Grand Challenges Canadá, Help Age International y Fundación Horizontes, bajo el proyecto “No te olvides de mí” a partir de septiembre de 2014.</p>
  
      <hr class="col-3 col-md-2 mb-5">
  
      <div class="row g-5">
        <div class="col-md-6">
          <h2>Vision</h2>
          <p>El NEUROLAB “Rene Calderón Soria”, busca ser el Laboratorio de Neurocognición referencial en Bolivia, para el desarrollo de procedimientos de detección de alteraciones cognitivas y el diseño de programas de estimulación para la atención y rehabilitación de las mismas.</p>
        </div>
  
        <div class="col-md-6">
          <h2>Mision</h2>
          <p>La Misión del NEUROLAB “Rene Calderón Soria” es la atención de las necesidades de evaluación y rehabilitación neurocognitiva de personas con alteraciones en este campo, a través de procedimientos de detección y el diseño de programas de estimulación</p>
        </div>
      </div>
      <hr class="col-3 col-md-2 mb-5">
      <h1>Nuestro equipo:</h1>
      <img style="margin-left: 210px;" src="https://grt.com.bo/upsa/usuario/help/imagenes/equipo1.png" alt="">
      <img src="https://grt.com.bo/upsa/usuario/help/imagenes/equipo2.png" alt="">
      <img src="https://grt.com.bo/upsa/usuario/help/imagenes/equipo3.png" alt="">
    </main>
  </div>
{% endblock %}