{% extends "base.html" %}

{% block titulo %} Registro Paciente {% endblock %}

{% block contenido %} 
<div class="row mb-3 p-5">
    <h1>Datos del contacto</h1>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Telefono</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
</div>
<div class="row mb-3 p-5">
    <h1>Datos del paciente</h1>
    
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Ci</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Profesión</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Telefono</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-8 themed-grid-col">
        <div class="mb-3">
        <label for="" class="form-label">Estado civil</label>
        <select class="form-control" name="" id="">
          <option>Casado(a)</option>
          <option>Soltero(a)</option>
          <option>Viudo(a)</option>
        </select>
    </div></div>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Idioma materno</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Medicamentos</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">direccion</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Otros Idiomas</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Celular</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-4 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Lugar de nacimiento</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>

    <div class="col-md-8 themed-grid-col">
        <div class="mb-3">
        <label for="" class="form-label">Estado de salud</label>
        <select class="form-control" name="" id="">
          <option>Sana</option>
          <option>Enfermedad cronica</option>
          <option>Enfermedad transitoria</option>
          <option>Afecciones</option>
        </select>
    </div></div>

</div>
<div class="row mb-3 p-5">
    <h1>Observaciones del paciente</h1>
    <div class="col-md-9 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Descripcion</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
</div>
<div class="row mb-3 p-5">
    <h1>Informacion de hijos <button type="button" class="btn btn-outline-primary">Agregar Hijo</button></h1>
    <div class="col-md-6 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-3 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Edad</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <div class="col-md-3 themed-grid-col">     <div class="mb-3">
        <label for="" class="form-label">Genero</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div></div>
    <button type="button" class="btn btn-success col-md-1">Registrar</button>
</div>
{% endblock %}